<!DOCTYPE html>
<html lang="vi">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>User</title>
   <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
   <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

   <link rel="stylesheet" href="/css/Header/styleHeader.css">

</head>

<body>
   <%- include("../../Components/Header/Header.ejs") %>
      <h1>Chào mừng đến với trang User!</h1>
      <script src="/js/LoadPage.js"></script>
</body>

</html>