.co-pink{
   color: #E568C5;
}
.co-blue{
   color: #1E90FF;
}
.co-yelow{
   color: #FFD600;
}
.co-orange{
   color: orange;
}
.co-red{
   color: red;
}
.userPage{
   padding-bottom: 200px;
   padding-top: 20px;
   display: flex;
   align-items: start;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 60px;
   .table-booking{
      width: calc(60% - 35px);
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
      margin-left: 20px;
      height: 411px;
      padding: 5px 15px;
   }
}