.LoginPage{
   box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
   width: 30%;
   margin: auto;
   padding: 20px;
   margin-top: 125px;
   background-color: #FFF;
   .title{
      font-size: 22px;
      font-weight: bold;
      text-align: center;
   }
   .cardLogin{
      -webkit-user-select: none;  /* Safari */
      -moz-user-select: none;     /* Firefox */
      -ms-user-select: none;      /* IE10+/Edge */
      user-select: none;          /* Tiêu chuẩn */
      .social-login{
         display: flex;
         justify-content: center;
         .login-gg, .login-fb{
            padding: 5px 15px;
            margin: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            color: #FFF;
            border: 0;
            font-size: 14px;
            &:hover {
               filter: brightness(1.2);
            }
            p{
               margin: 0;
            }
            span{
               margin-right: 7px;
               display: flex;
            }
         }
         .login-gg{
            width: calc(100% / 2 - 10px);
            background: #FF2000;
            text-decoration: none;
         }
         .login-fb{
            width: calc(100% / 2 - 10px);
            background: #3F6DFF;
         }
      }
      select{
         width: calc(25% - 10px);
         margin-left: 10px;
         margin-top: 10px;
         border: 1px solid #ccc;
         &:focus{
            outline: 0;
         }
      }
      .error{
         color: red;
         font-size: 13px;
      }
      .w-100{
         width: 100%;
      }
      .item{
         padding: 0;
         &.pass{
            position: relative;
            width: 100% !important;
            span{
               position: absolute;
               top: -2px;
               right: 15px;
               font-size: 20px;
               opacity: 0.7;
               cursor: pointer;
            }
         }
      }
      .pass{
         position: relative;
         margin-top: 10px;
         padding: 0;
         width: 75%;
         margin-bottom: 0;
         input{
            margin-bottom: 0 !important;
         }
            span{
               position: absolute;
               top: -2px;
               right: 15px;
               font-size: 20px;
               opacity: 0.7;
               cursor: pointer;
            }
      }
      input{
         padding: 5px;
         border: 1px solid #ccc;
         border-radius: 3px;
         &:focus{
            outline: none;
         }
         &:nth-child(1){
            width: 100%;
            margin-bottom: 10px;
         }
         &:nth-child(2), &:nth-child(6), &:nth-child(8){
            margin-right: 10px;
         }
         &:nth-child(2), &:nth-child(3), &:nth-child(7), &:nth-child(8), &:nth-child(9){
            width: calc(50% - 5px);
         }
         &:nth-child(4){
            width: 75%;
            margin: 10px 0 0 0;
         }
         &:nth-child(5){
            margin: 10px 0 0 0;
         }
         &:nth-child(6), &:nth-child(8){
            margin: 10px 0;
         }
         &:nth-child(8), &:nth-child(9){
            margin-top: 0 !important;
         }
      }
      .address-input-user{
         width: 100% !important;
         margin-top: 10px;
      }
      button{
         padding: 5px 0;
         width: 100%;
         border: 0;
         background: #41A11E;
         color: #FFF;
         margin: 10px 0;
         &:hover {
            transition: 1s;
            filter: brightness(1.2);
         }
      }
   }
   .cardLogin.buness{
      input{
         &:nth-child(4){
            width: 100%;
         }
         &:nth-child(6), &:nth-child(8){
            width: 50%;
         }
         &:nth-child(7), &:nth-child(9){
            width: calc(50% - 10px);
            margin: 10px 0 10px 10px;
         }
      }
   }
   .loginFalse{
      input{
         &:nth-child(2){
            width: 100% !important;
         }
      }
   }
   .btn-switch{
      cursor: pointer;
      color: #3F6DFF;
   }
}

@media (max-width: 1200px) {
   .LoginPage{
      width: 90%;
   }
}
