<div class="Aside">
   <ul>
      <li><a href="#" class="nav-link" data-page="home">Trang chủ</a></li>
      <li><a href="#" class="nav-link" data-page="user">Người dùng</a></li>
      <li><a href="#" class="nav-link" data-page="fofield">Sân bóng</a></li>
   </ul>
</div>