.Session2{
   background-color: #231F20;
   text-align: center;
   box-shadow: 0px -20px 30px -10px rgba(0, 0, 0, 0.5);
   position: relative;
   padding: 50px;
   &::before{
      content: "";
      position: absolute;
      top: -84px;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(to bottom, transparent, #FFF);
   }
   .title{
      position: relative;
      color: #FFF;
      font-size: 22px;
      h2::before{
         content: "";
         position: absolute;
         width: 200px;
         height: 1px;
         background: #FFF;
         top: 25px;
         left: 23%;
      }
      h2::after{
         content: "";
         position: absolute;
         width: 200px;
         height: 1px;
         background: #FFF;
         top: 25px;
         right: 23%;
      }
   }
   .Execute{
      display: flex;
      justify-content: center;
      color: #FFF;
      .Box{
         padding: 50px;
         height: 300px;
         border: 1px solid #FFF;
         cursor: pointer;
         background: #231F20;
         z-index: 3;
         &:hover span{
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
         }
         span{
            font-size: 100px;
            font-weight: 900;
            color: #27C375;
         }
         h3{
            margin: 0;
            color: #27C375;
         }
      }
   }
   .Circle1::before{
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px solid #FFF;
      top: 60px;
      left: 145px;
      z-index: 4;
      background-color: #231F20;
   }
   .Circle2::before{
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      background: transparent;
      border-radius: 50%;
      border: 1px solid #FFF;
      top: 60px;
      right: 145px;
      z-index: 4;
      background-color: #231F20;
   }
   .Circle3::before{
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid #FFF;
      top: calc(57% - 50px);
      right: calc(50% - 50px);
      z-index: 4;
      background-color: #231F20;
   }
   .Circle4::after{
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: #27C375;
      top: 143px;
      right: 227px;
      z-index: 4;
     
   }
   .Circle4::before{
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid #FFF;
      top: 110px;
      right: 195px;
      z-index: 4;
      background-color: #231F20;
   }
   .contentDes{
      text-align: left;
      margin-top: 85px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 40px;
      padding: 20px;
      width: 1050px;
      color: #FFF;
      p{
         margin: 0;
      }
   }
}