.btn-parallelogram {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 150px; // Chiều rộng
   height: 30px; // Chiều cao
   background-color: #41A11E; // Màu nền
   color: white; // Màu chữ
   font-weight: bold;
   border: none;
   transform: skew(-20deg); // Biến dạng thành hình bình hành
   position: relative;
   cursor: pointer;
   transition: 0.3s;

   // Giữ nội dung không bị nghiêng theo nút
   span {
      transform: skew(20deg);
   }

   // Hover sáng lên
   &:hover {
      background-color: #12b152;
   }
}


.btn-add{
   padding: 5px 10px;
   background: #12b152;
   color: #FFF;
   border: 0;
   border-radius: 3px;
   &:hover{
      background: #12b152;
   }
}

.search{
   position: relative;
   width: 80%;
   cursor: pointer;
   input{
      width: 100%;
      padding: 5px 20px;
      border: 2px solid #12b152;
      border-radius: 5px;
      &:focus-visible{
         border: 2px solid #12b152;
         outline: none;
      }
   }
   span{
      position: absolute;
      top: 5px;
      right: 22px;
      border-left: 1px solid #ccc;
      padding-left: 10px;
      &:hover{
         color: #41A11E;
      }
   }
}