.Header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   background: #FFF;
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 
            0 2px 6px -1px rgba(0, 0, 0, 0.08), 
            0 3px 8px 0 rgba(0, 0, 0, 0.06);
   z-index: 999;
   position: fixed !important;
   top: 0;
   left: 0;
   width: 100%;
   &-left{
      display: flex;
      align-items: center;
      .menu{
         cursor: pointer;
      }
      .logo{
         width: 300px;
         height: auto;
         user-select: none;
         img{
            width: auto;
            height: 60px;
         }
         span{
            font-family: "Dancing Script", cursive;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
         }
      }
      .name{
         width: 150px;
         height: auto;
      }
   }
   &-center{
      justify-content: flex-end;
      align-items: center;
      .menuList{
         display: flex;
         list-style: none;
         margin-bottom: 0;
         li{
            padding: 5px 15px;
            cursor: pointer;
            font-size: 18px;
            .item{
               display: flex;
               p{
                  margin: 0;
               }
            }
            a{
               text-decoration: none;
               color: #000;
               &:hover{
                  color: #1e90ff;
               }
            }
         }
      }
   }
   &-right{
      display: flex;
      align-items: center;
      .user-info{
         display: flex;
         align-items: center;
         a{
            text-decoration: none;
            cursor: pointer;
            .name:hover{
               color: #1e90ff;
            }
         }
      }
      .avatar{
         width: 25px;
         height: 25px;
         border: 1px solid #ccc;
         border-radius: 50%;
         overflow: hidden;
         object-fit: cover;
         display: flex;
         align-items: center;
         img{
            width: 100%;
            height: auto;
         }
      }
      .name{
         margin: 0 10px;
         color: #000;
      }
      .menu{
         width: 25px;
         height: 25px;
         font-size: 22px;
         cursor: pointer;
         color: #ccc;
         margin-bottom: 15px;
      }
   }
}
.ant-drawer-content{
   height: calc(100% - 60px) !important;
   transform: translateY(60px) !important;
   z-index: 100;
}
@media (max-width: 1192px) {
   .Header-right {
      .name{
         display: none;
      }
      .avatar{
         margin-right: 15px;
      }
   }
}
@media (min-width: 992px) {
   .Header-center .menuList li .item span{
      display: none;
   }
   .Header-center .menuList li .item p{
      display: inline;
   }
}
@media (max-width: 991px) {
   .Header-center .menuList li .item span{
      display: inline;
      svg{
         width: 30px;
         height: auto;
      }
   }
   .Header-center .menuList li .item p{
      display: none;
   }
}
@media (max-width: 768px) {
   .Header-center .menuList{
      padding-left: 0;
   }
}
@media (max-width: 567px) {
   .Header-left {
      width: 40% !important;
      span{
         display: inline;
         margin-right: 20px;
         cursor: pointer;
      }
      .logo{
         width: 100% !important;
      }
   }
   .Header-center{
      display: none;
   }
}