.Revenue_Date{
   box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
   padding: 20px;
   width: 30%;
   background-color: #FFF;
}
.Revenue_Month{
   width: calc(70% - 15px);
   margin-left: 15px;
   box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
   background-color: #FFF;
}